.contacts {
    border-right: 1px solid var(--c-softgrey);
   
        &__input{
            position:relative;
            display: flex;
            justify-content: space-between;
            padding: rem(8px) rem(16px);
            margin: rem(24px) rem(18px);
            height: rem(35px);
            border: 1px solid var(--c-softgrey);
            border-radius: rem(17.5px); 
        }  
        .icon, svg{
            position: absolute;
            top: rem(34px);
            left: rem(450px);
            stroke: var(--c-softgrey);
        }

}  

.contacts__list{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // margin-top: rem(10px);
    height: rem(697px);
    // height: calc(100vh - 93px);
    overflow-y: scroll;
    font-family: var(--ff-open);
    font-size: rem(15px);
    font-weight: 400;
    color: var(--c-darkgrey);
    li {
        padding:rem(10px 10px 10px 18px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        &.selected{
            background-color: var(--c-other-grey);
            .btn-delete-contact {
                display: flex;
            }
        }
        &:hover{
            transition: $transition; 
            font-weight: 600;
            .btn-delete-contact {
                display: flex;
            }
        }
    }
}

.btn-delete-contact {
    display: none;
    justify-content: center;
    align-items: center;
    width: rem(22px);
    height: rem(22px);
    color: var(--c-grey);
    border-radius: rem(50px);
    border: 1px solid var(--c-white);
    background-color: var(--c-other-grey)
}
 
